.reading {
  margin-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 16px;
  border-bottom: 1px solid #bac8ce;
  color: #6d787e;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}
/* .current {
    float: right;
  }
  .finished {
    float: left;
  } */
.reading-active {
  color: #22c870;
  font-weight: 700;
  border-bottom: 1px solid #22c870;
}
.reading-tab {
  margin-top: 20px;
}
.library-wrapper {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
